<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.domi.sdklibrary"
    android:versionCode="1"
    android:versionName="1.0" >
    
    
    
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" /> <!-- -->
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />
    
    
    
    
    <application android:label="重走长征路">
    
         <!-- -->
        <service
            android:name="com.today.step.lib.TodayStepService"
            android:enabled="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:priority="1000"
            android:process=":todaystep" >
            <intent-filter>

                <!-- -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>

        <!-- -->
        <receiver
            android:name="com.today.step.lib.TodayStepBootCompleteReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- -->
        <receiver android:name="com.today.step.lib.TodayStepShutdownReceiver" >
            <intent-filter>

                <!-- -->
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <!-- 这个android:name的值必须为包名+类名-->
        <activity android:name="com.domi.sdklibrary.sdkMainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 这一行不能少，否则会闪退-->
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>